@import 'variables';
@import 'animations.scss';

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $mainFam;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

p {
  font-size: $font * 0.2;
  font-family: $secondFam;
  line-height: $font * 0.4;
}

h1{
   font-size: $font;
}

h2 {
  font-size: $font * 0.56;
  letter-spacing: 1px;
  line-height: $font * 0.76;
}

h3 {
  font-size: $font * 0.24;
  line-height: $font * 0.32;
}









@import 'components/header';
@import 'components/svg';
@import 'components/our-services';
@import 'components/footer';
@import 'components/contact-form';
@import 'components/shadow';
@import 'components/scrolle';
@import 'components/why';
@import 'components/video';
@import 'components/strategies';

