@import 'variables';

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Archivo';
  position: relative;
}


.nav {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto 0 auto;
  padding: 20px 30px;
  height: 50px;
  @extend .flex-end;

  ul {
    @extend .flex-between;
    align-items: center;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 900px;
  }

  p {
    color: $white;
    border: 1px solid;
    padding: 3px 25px;
    font-size: $font * 0.13;
    letter-spacing: 2px;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    font-size: $font * 0.13;
    letter-spacing: 2px;
    color: $white;
  }

}

.header {
  @extend .flex-center;
  background-color: $main_color;
  background-image: url('~assets/img/vektor-50.svg');
  background-size: cover;
  height: 100vh;
  width: 100%;

  .wrap {

    @extend .flex-center;
    align-items: flex-start;
    position: relative;


    .text-wrap {
      @extend .flex-start;
      @extend .container;
      font-weight: bold;
      line-height: $font * 1.1;

      h1 {
        text-align: left;
        font-size: $font;
        color: $white;
        letter-spacing: 5px;
        margin-bottom: 30px;
        filter: drop-shadow(11.184px 16.581px 12px rgba(1, 1, 1, 0.8));
      }

      p {
        max-width: 450px;
        letter-spacing: 3px;
        font-size: $font * 0.2;
        line-height: $font * 0.4;
        text-align: left;
        font-weight: normal;
        color: $white;
      }
    }

    .header-box {
      @extend .flex-between;
      background: $dark_pink;
      flex-direction: column;
      width: 370px;
      height: 400px;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(50%);

      .wrap {
        @extend .flex-between;
        align-items: center;
        width: 100%;
        max-width: 260px;
        margin: 20px auto;
        cursor: pointer;

        p {
          font-size: $font * 0.17;
          letter-spacing: 2px;
          line-height: $font * 0.16;
          color: $white;
          font-weight: 600;
          text-align: left;
        }

        img {
          transform: translateX(-10px);
          transition: 0.4s;
        }

        &:hover img {
          transform: translateX(0);
        }
      }

      h2 {
        font-size: $font * 0.4;
        text-align: center;
        margin-bottom: $mb-60;
        color: $white;
        font-family: $secondFam;
        font-weight: 800;
        filter: drop-shadow(0px -2px 9px rgba(0, 0, 0, 0.2));
      }

    }
  }
}

.services {

  margin-top: 300px;

  .grid {
    grid-template-rows: 150px auto 80px;

    img {
      grid-column: 8 / -1;
      grid-row: 1 / -1;
      width: 100%;
      height: 100%;
    }

    .link-wrap {
      grid-column: 2 / span 4;
      grid-row: 2;
      width: 100%;
      @extend .flex-start;
      align-items: flex-start;
      flex-direction: column;
      height: 330px;

      div {
        font-size: $font * 0.27;
        letter-spacing: 1px;
        line-height: $font * 0.42;
        color: $grey;
        font-weight: 400;
        text-align: left;
        margin-top: 0px;
        cursor: pointer;
        transition: 0.4s;
        position: relative;
        margin-bottom: 25px;

        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background: $main_color;
          bottom: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.3s ease-in-out 0s;
        }

        &:hover {
          color: $main_color;
        }

        &:hover:before {
          visibility: visible;
          transform: scaleX(1);
        }

      }

      .active {
        color: $main_color;

        &:before {
          visibility: visible;
          transform: scaleX(1);
        }
      }
    }


    .text-area {
      grid-column: 6 / span 4;
      grid-row: 2;
      width: 100%;
      height: 442px;
      filter: drop-shadow(10.625px 15.752px 17.5px rgba(1, 1, 1, 0.11));
      background-color: #ffffff;
      z-index: 2;

      .head {
        @extend .flex-between;
        align-items: center;
        padding: 30px 0px 20px 30px;

        h3 {
          font-size: $font * 0.42;
          letter-spacing: 1px;
          line-height: $font 0.28;
          color: #000000;
          font-family: $secondFam;
          font-weight: 700;
          margin: 0;
        }

        span {
          font-size: $font * 0.46;
          letter-spacing: 1px;
          line-height: $font * 0.48;
          color: $main_color;
          font-family: $secondFam;
          font-weight: 600;
          @extend .flex-end;
          align-items: center;

          .line {
            background: $main_color;
            width: 30px;
            height: 2px;
            display: block;
          }
        }
      }

      .body {
        padding: 30px 30px 20px 30px;

        p {
          font-size: $font * 0.18;
          line-height: $font * 0.28;
          color: $dark_grey;
          font-family: $secondFam;
        }
      }
    }

  }
}

.strategies {
  @extend .container;
  @extend .grid;
  height: 100vh;
  padding: 30px 50px;

  .text-wrap {
    grid-column: 1 / span 6;
    @extend .flex-start;
    align-items: center;

    .wrap {
      @extend .flex-start;
      align-items: center;
      height: 100%;
      max-height: 600px;

      h2 {
        font-size: $font * 0.56;
        letter-spacing: 1px;
        line-height: $font * 0.76;
        color: $black;
        font-weight: 600;

        span {
          color: $main_color;
        }
      }

      p {
        font-size: $font *0.22;
        line-height: $font * 0.32;
        color: $grey;
        font-family: $secondFam;
        font-weight: 400;
      }

      .link-wrap {
        @extend .flex-between;
        width: 100%;
        height: 100px;
        align-items: center;
        max-width: 300px;
        cursor: pointer;
        border-top: 1px solid $main_color;

        p {
          font-size: $font * 0.14;
          letter-spacing: 2px;
          line-height: $font * 0.16;
          color: $main_color;
          font-weight: 600;
          text-align: right;
        }

        img {
          transform: translateX(-10px);
          transition: 0.4s;
        }

        &:hover img {
          transform: translateX(0);
        }
      }

    }
  }

  .video-wrap {
    grid-column: span 6;
    @extend .flex-center;
    align-items: center;

    .wrap {
      @extend .flex-center;
      background-image: url('~assets/img/services-8.jpg');
      background-size: cover;
      align-items: center;
      height: 100%;
      max-height: 1000px;

      img {
        width: 100%;
        height: 100%;
      }
    }


  }

}

.scroll-section {
  @extend .container-full;
  position: relative;
  overflow: hidden;

  #animation {
    height: 100vh;
    background: $white;
    position: relative;

    #box {
      position: absolute;
      top: 50%;
      right: 30%;
      margin-top: -300px;

      #innerBox {

        width: 450%;

        h2 {
          background: linear-gradient(90deg, rgba(255, 95, 136, 1) 0%, rgba(178, 27, 66, 1) 27%, rgba(0, 0, 0, 1) 100%);
          font-size: $font * 1.50;
          letter-spacing: 3px;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-family: $secondFam;
          font-weight: 800;
          text-align: center;

          span {
            color: transparent;
          }
        }
      }
    }
  }

  .video-section {
    background: $black-bg;
    @extend .container-full;
    @extend .flex-center;
    align-items: center;


    .video-wrap {
      @extend .container;
      @extend .flex-between;
      align-items: center;
      height: 90%;
      transition: 0.4s;
      margin-top: 70px;


      .video-player-box {
        width: 33%;
        max-width: 451px;
        height: 307px;
        transition: 0.4s;


        .vjs_video_3-dimensions {
          width: 100%;
          height: 100%;
          position: relative;
          transition: 0.4s;

          .vjs-big-play-button {
            width: 100px;
            height: 100px;
            border-radius: 50px;
            background-color: $main_color;
            border: none;
            position: absolute;
            top: -50px;
            left: 400px;

            .vjs-icon-placeholder {
              &:before {
                content: "\f101";
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 55px;
              }
            }
          }
        }
      }

      .player-full {
        width: 100%;
        max-width: unset;
        height: 500px;
      }

      .text-wrap {
        width: 60%;
        @extend .flex-start;
        align-items: center;
        transition: 0.4s;


        .wrap {
          @extend .flex-start;
          align-items: center;
          height: 100%;

          h2 {
            font-size: $font * 0.56;
            letter-spacing: 1px;
            line-height: $font * 0.76;
            color: $white;
            font-weight: 600;


            span {
              color: $main_color;
            }
          }

          p {
            font-size: $font * 0.22;
            line-height: $font * 0.32;
            color: $white;
            font-family: $secondFam;
            font-weight: 400;
          }

          .link-wrap {
            @extend .flex-between;
            width: 100%;
            height: 100px;
            align-items: center;
            max-width: 300px;
            margin-top: 45px;
            cursor: pointer;
            border-top: 1px solid $main_color;

            p {
              font-size: $font * 0.14;
              letter-spacing: 2px;
              line-height: $font * 0.16;
              color: $main_color;
              font-weight: 600;
              text-align: right;
            }

            img {
              transform: translateX(-10px);
              transition: 0.4s;
            }

            &:hover img {
              transform: translateX(0);
            }
          }

        }
      }

    }
  }
}

.why-container {
  @extend .container-full;
  background: $black-bg;
  padding: 250px 30px;

  .wrap {
    @extend .container;
    @extend .flex-start;
    align-items: center;
    height: 100%;
    max-height: 600px;

    .text-wrap {
      h2 {
        font-size: $font * 0.56;
        letter-spacing: 1px;
        line-height: $font * 0.76;
        color: $white;
        font-weight: 600;

        span {
          color: $main_color;
        }
      }

      p {
        font-size: $font *0.22;
        line-height: $font * 0.32;
        color: $white;
        font-family: $secondFam;
        font-weight: 400;
      }

      .text-box {
        @extend .flex-end;
        position: absolute;
        top: -103px;
        right: 0;

        p {
          font-size: $font * 1.66;
          letter-spacing: 3px;
          line-height: $font * 1.39;
          color: #202020;
          font-weight: 600;
          text-align: right;
          margin: 0;
        }

        .normal,
        span {
          font-size: $font;
          font-weight: 600;
          color: #202020;
        }
      }
    }

    .hover-wrap {
      width: 100%;
      max-width: 750px;
      margin: 35px auto;
      @extend .flex-between;
      align-items: flex-start;
      margin: 90px auto 30px;


      .single {
        @extend .flex-between;
        align-items: center;
        height: 60px;
        cursor: pointer;

        span {
          width: 30px;
          height: 5px;
          background: $white;

        }

        .active {
          background: $main_color;
        }
      }

      p {
        font-size: $font *0.18;
        line-height: $font * 0.25;
        color: $white;
        font-family: $secondFam;
        font-weight: 400;
        width: 70%;
        text-align: left;
        margin-top: 10px;

      }
    }
  }
}

.shadow {
  @extend .container-full;
  @extend .flex-start;
  height: 800px;
  background: $main_color;
  align-items: center;
  position: relative;
  overflow: hidden;

  #eight {
    position: absolute;
    left: 50%;
    z-index: 9;
  }

  #shadow {
    position: absolute;
    right: 15%;
  }


  .wrap {
    @extend .container;
    z-index: 9999;

    .text-wrap {
      width: 100%;
      max-width: 800px;

      h2 {
        font-size: $font * 0.56;
        letter-spacing: 1px;
        line-height: $font * 0.76;
        color: $white;
        margin-top: 0px;
        font-weight: 600;
      }

      p {
        font-size: $font * 0.22;
        line-height: $font * 0.32;
        color: $ghoust_white;
        font-family: $secondFam;
        font-weight: 400;
      }
    }
  }
}

.form-section {
  @extend .container-full;
  background: $white;
  padding: 250px 30px;

  .wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;


    .text-wrap {
      h2 {
        font-size: $font * 0.8;
        letter-spacing: 1px;
        line-height: $font * 0.95;
        color: $black;
        font-weight: 600;
        max-width: 880px;
        margin-top: 0px;

        span {
          color: $main_color;
        }
      }

      .btn {
        height: 50px;
        width: 220px;
        background: $main_color;
        @extend .flex-center;
        align-items: center;
        transition: 0.4s;
        cursor: pointer;


        p {
          color: $white;
          font-size: 14px;
          letter-spacing: 2px;
          line-height: 16px;
          margin: 0;
        }
      }

    }
  }
}

.footer {
  @extend .container-full;
  background: $black-bg;
  padding-top: 100px;

  .wrap {
    @extend .container;

    .grid {
      width: 100%;
      grid-column-gap: 100px;
      grid-row-gap: 15px;

      .col {
        grid-column: span 3;
        @extend .flex-center;
        align-items: flex-start;
        flex-direction: column;

        h3 {
          font-size: $font * 0.24;
          line-height: $font * 0.32;
          color: $main_color;
          font-family: $secondFam;
          font-weight: 600;
        }

        h4 {
          font-size: $font * 0.20;
          line-height: $font * 0.32;
          color: $main_color;
          font-family: $secondFam;
          font-weight: 600;
          margin: 15px 0;
        }

        p {
          font-size: $font * 0.14;
          line-height: $font * 0.20;
          color: $footer_white;
          font-weight: 600;
        }

        ul {
          list-style: none;
          padding-left: 0px;

          li {
            font-size: $font * 0.18;
            letter-spacing: 0px;
            line-height: $font * 0.32;
            color: $footer_white;
            font-family: $secondFam;
            font-weight: 400;
          }
        }

        .wrap {
          @extend .flex-center;
          align-items: flex-start;
          flex-direction: column;
          max-width: 183px;
        }

        .input {
          @extend .flex-start;
          align-items: center;
          width: 255px;
          height: 50px;
          background: $white;
          position: relative;
          padding-left: 15px;

          input {
            background-color: transparent;
            font-size: $font * 0.18;
            letter-spacing: 0px;
            line-height: $font * 0.32;
            color: $main_color;
            font-family: $secondFam;
            font-weight: 400;
            border: none;
            outline: none;
            position: absolute;
            top: 0;
            right: -15px;
            width: 270px;
            height: 50px;
            z-index: 9;
          }

          i,
          span {
            color: $main_color;
            margin-right: 5px;
          }
        }
      }

      #col-1 {
        h3 {
          font-size: $font * 0.30;
          letter-spacing: 1px;
          line-height: $font * 0.30;
          color: $footer_white;
          font-family: $mainFam;
          font-weight: 600;
          margin: 0px 0px 5px;
        }
      }

      #col-4 {
        h3 {
          font-size: $font * 0.22;
          letter-spacing: 0px;
          line-height: $font * 0.32;
          color: $footer_white;
          font-family: $secondFam;
          font-weight: 400;
        }

        .btn {
          width: 126px;
          height: 34px;
          background-color: $white;
          font-size: $font * 0.14;
          line-height: $font * 0.32;
          color: $main_color;
          font-family: $secondFam;
          font-weight: 400;
          text-align: center;
          margin-top: 20px;
          cursor: pointer;

        }
      }

      #col-5 {
        grid-column: 1 / -1;
        padding-bottom: 40px;

        h4 {
          margin-top: 0px;
        }

        a {
          font-size: $font * 0.20;
          letter-spacing: 0px;
          line-height: $font * 0.32;
          color: $footer_white;
          font-family: $secondFam;
          font-weight: 400;
          text-decoration: none;

          i {
            color: $main_color;
            margin-right:  15px;

          }
        }
      }

      .social-wrap {
        grid-column: 1 / -1;
        @extend .flex-center;
        border-top: 2px solid $main_color;

        i {
          color: $main_color;
          margin: 30px 15px;
          font-size: $font * 0.18;
          cursor: pointer;
        }
      }
    }
  }
}
