@media only screen and (max-width: 1400px) {
  .header {
    height: 760px;

    .wrap {
      .text-wrap {
        h1 {
          font-size: $font * 0.9;
        }

        p {
          font-size: $font * 0.18;
          line-height: $font * 0.25;
        }
      }

      .header-box {
        height: 300px;
      }
    }

  }
}
