//colors

$light_pink: #ff5f88;
$dark_pink: #920c2f;
$main_color: #b21b42;
$white: #ffffff;
$grey: #717171;
$dark_grey: #3f3f3f;
$black: #000000;
$black-bg: #1C1C1C;
$ghoust_white: #fdd9e3;
$footer_white: #fffefe;


//font
$mainFam: "Archivo";
$secondFam: "Open Sans";
$font: 100px;



//margins

$mb-60: 60px;

.p-0 {
  padding: 0 !important;
}

.p-10 {
  padding: 10px !important;
}

.p-20 {
  padding: 20px !important;
}

.pt-0 {
  padding-top: 0;
}

.pt-10 {
  padding-top: 10px !important;

}

.pt-20 {
  padding-top: 20px !important;

}

.pt-30 {
  padding-top: 30px !important;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-80 {
  padding-top: 80px;
}

.pr-20 {
  padding-right: 20px;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pb-50 {
  padding-bottom: 50px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-40 {
  padding-left: 40px;
}

.py-7 {
  padding-top: 7px;
  padding-bottom: 7px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.px-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

//margins
.m-0 {
  margin: 0px !important;
}

.m-10 {
  margin: 10px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.ml-0 {
  margin-left: 0;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-05 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-50 {
  margin: 50px 0px;
}

.my-60 {
  margin: 60px 0;
}

.mx-auto {
  margin: 0 auto;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-30 {
  margin: 0 30px;
}

//text

.text-red {
  color: $main_color;
}

//flex

.flex-center {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.flex-start {
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

//containers

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;

}

.container-full {
  width: 100%;
  box-sizing: border-box;

}

//grid

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}


.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}


.position-rel {
  position: relative;
}

/////buttons

.white-btn {
  @extend .flex-between;
  align-items: center;
  margin-top: 40px;
  height: auto;
  box-shadow: 5px 5px 20px #ccc;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 5px 30px;
  max-width: 300px;
  margin-top: 45px;
  cursor: pointer;
  width: 100%;

  &:hover img {
    transform: translateX(-10px);
  }

  p {
    color: $main_color;
    font-weight: bold;
  }

  img {
    height: 24px;
    transition: 0.4s;
  }


}
