.form-section {
  @extend .container-full;
  background: $white;
  padding: 250px 35px;
  box-sizing: border-box;

  .wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;


    .text-wrap {
      h2 {
        font-size: $font;
        letter-spacing: 1px;
        line-height: $font * 1.1;
        color: $black;
        font-weight: 600;
        max-width: 1200px;
        margin-top: 0px;

        span {
          color: $main_color;
          font-weight: bold;
        }
      }

      .btn {
        height: 50px;
        width: 220px;
        background: $main_color;
        @extend .flex-center;
        align-items: center;
        transition: 0.4s;
        cursor: pointer;


        p {
          color: $white;
          font-size: 14px;
          letter-spacing: 2px;
          line-height: 16px;
          margin: 0;
        }
      }

    }
  }
}

@media only screen and (max-width: 1440px) {

  .form-section {
    padding: 150px 35px;

  }
}


@media only screen and (max-width: 1024px) {

  .form-section {

    padding: 120px 35px;

    .wrap {
      width: 100%;
      margin: 0 auto 0 0;

      .text-wrap {

       

        h2 {
          font-size: $font * 0.85;
          line-height: $font;
        }

      }
    }
  }
}

@media only screen and (max-width: 720px) {


  .form-section {

    padding: 90px 35px;

    .wrap {
      width: 100%;
      margin: 0 auto 0 0;

      .text-wrap {

      
        h2 {}
      }
    }
  }
}

@media only screen and (max-width: 650px) {


  .form-section {

    padding: 90px 35px;

    .wrap {
      width: 100%;
      margin: 0 auto 0 0;

      .text-wrap {

       

        h2 {
          font-size: $font * 0.8;        
          line-height: $font;

        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {

.form-section {

    padding: 90px 35px;

    .wrap {
      width: 100%;
      margin: 0 auto 0 0;

      .text-wrap {


        h2 {
          font-size: $font * 0.38;
          line-height: $font * 0.5; 

        }
      }
    }
  }
}
@media only screen and (max-width: 360px) {

.form-section { 
    .wrap {
 
      .text-wrap {

      }
    }
  }
}
