.header {
  @extend .flex-center;
  background-color: $main_color;
  background-image: url('~assets/img/vektor-50.svg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  
  .main-nav{
    height: 0px;
    z-index: 999;
    width: 100%;
  }
  .wrap {

    @extend .flex-center;
    align-items: flex-start;
    position: relative;
    padding: 0px 35px;
    box-sizing: border-box;


    .text-wrap {
      @extend .flex-start;
      @extend .container;
      font-weight: bold;
      line-height: $font * 1.1;

      h1 {
        text-align: left;
        color: $white;
        letter-spacing: 5px;
        margin-bottom: 30px;
        margin-top: 0px;
        filter: drop-shadow(11.184px 16.581px 12px rgba(1, 1, 1, 0.8));
        z-index: 99;

        .fadeOut {
          opacity: 0;
          transition: 0.8s;
        }

        .fadeIn {
          opacity: 1;
        }
      }

      p {
        max-width: 450px;
        letter-spacing: 3px;
        text-align: left;
        font-weight: normal;
        color: $white;
        z-index: 99;
      }
    }


  }


}

.nav {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto 0 auto;
  padding: 20px 30px;
  box-sizing: border-box;
  height: 50px;
  z-index: 9;
  @extend .flex-end;

  ul {
    @extend .flex-between;
    align-items: center;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 900px;

    li {

      position: relative;

      i {
        font-size: 12px;
        margin-left: 5px;
        color: $white;
        cursor: pointer;
      }

    }

    .sub-menu {
      @extend .flex-start;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      padding-left: 20px;
      width: 160px;
      padding-top: 10px;
      margin-top: 0px;
      display: none;
      z-index: 9999;
      background: rgba(146, 12, 47, 0.95);
      
      &:hover{
        display: flex;
      }

      li {
        margin: 5px 0px;
      }
    }

    .sub-menu-wrap{
      
      &:hover .sub-menu {
        display: flex;
      }
    }
  }

  p {
    color: $white;
    border: 1px solid;
    font-size: $font * 0.13;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s;
    height: 40px;
    width: 135px;
    text-align: center;

    &:hover {
      letter-spacing: 4px;
    }
  }

  a {
    text-decoration: none;
    font-size: $font * 0.13;
    letter-spacing: 2px;
    color: $white;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background: $white;
      bottom: -5px;
      left: 0;
      right: 0;
      margin: 0 auto;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
    }

    &:hover:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }

  .nuxt-link-exact-active {
    &:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }


}

.mob-menu {
  height: 150px;

  .hamburger {
    @extend .flex-center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    cursor: pointer;
    z-index: 9999;
    top: 0;
    right: 0;
    background: $black;
    ;
    height: 90px;
    width: 90px;


    .bar-1,
    .bar-2 {
      background-color: $white;
      border-radius: 3px;
      content: '';
      display: block;
      width: 45px;
      height: 5px;
      margin: 7px 0;
      transition: all .2s ease-in-out;
    }

    &.active {

      .bar-1 {
        transform: translateY(9px) rotate(135deg);
      }

      .bar-2 {
        transform: translateY(-10px) rotate(-135deg);
      }
    }
  }

  .mob-nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
    width: 0;
    overflow: hidden;
    background: $black;
    transition: all .2s ease-in-out;
    z-index: 999;

    ul {
      transition: all .2s ease-in-out;
      @extend .flex-center;
      flex-direction: column;
      align-items: flex-end;
      margin: 100px 25px 0 0;
      overflow: hidden;

      li {
        margin: 10px 0;
        a {
          transition: all .2s ease-in-out;
          color: $black;
          text-decoration: none;
        }
      }
    }

    &.active {
      height: 420px;
      width: 340px;
      overflow: hidden;

      ul {

        a {
          font-size: $font * 0.16;
          letter-spacing: 2px;
          color: $white;
          position: relative;

          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background: $white;
            bottom: -5px;
            left: 0;
            right: 0;
            margin: 0 auto;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out 0s;
          }

          &:hover:before {
            visibility: visible;
            transform: scaleX(1);
          }
        }

        .nuxt-link-exact-active {
          &:before {
            visibility: visible;
            transform: scaleX(1);
          }
        }

        p {
          position: absolute;
          color: $white;
          border: 1px solid;
          font-size: $font * 0.13;
          line-height: $font * 0.4;
          letter-spacing: 2px;
          cursor: pointer;
          transition: 0.3s;
          height: 40px;
          width: 135px;
          bottom: 0;
          text-align: center;

          &:hover {
            letter-spacing: 4px;
          }
        }
      }
    }
  }

}

@media only screen and (max-width: 1440px) {
  .header {
    /*padding-bottom: 50%;*/

    .wrap {
     /* position: absolute;
      height: 100%;*/

      .header-box {
        height: 300px;
      }
    }

  }
}

@media only screen and (max-width: 960px) {
  .header {

    .nav {
      padding-bottom: 0px;
    }

    .wrap {
      margin-top: -60px;

      .header-box {
        height: 230px;

      }
    }

  }
}

@media only screen and (max-width: 720px) {
  .header {
    display: grid;
    grid-template-rows: 150px auto;

    .nav {}

    .wrap {
      margin-top: 0;

    }

  }
}

@media only screen and (max-width: 620px) {
  .header {
    padding-bottom: 5%;

    .nav {
      padding-bottom: 0px;
    }

    .wrap {


      .text-wrap {}


    }

  }
}



@media only screen and (max-width: 480px) {
  .header {

    grid-template-rows: 100px auto;

    .nav {
      padding-bottom: 0px;
    }

    .wrap {}
  }
}

@media only screen and (max-width: 420px) {
  .header {}
}
