.how-mob {
  @extend .container-full;
  box-sizing: border-box;
  padding: 50px 35px 0 35px;

  h2 {
    text-align: center;
    font-size: $font * 0.56;
    line-height: $font * 0.76;
  }
}

@media only screen and (max-width: 480px) {

  .how-mob {

    h2 {
      text-align: center;
      font-size: $font * 0.42;
      line-height: $font * 0.60;
    }
  }
}

