.shadow {
  @extend .container-full;
  @extend .flex-start;
  height: 800px;
  background: $main_color;
  align-items: center;
  position: relative;
  overflow: hidden;

  #eight {
    position: absolute;
    left: 50%;
    z-index: 9;
  }

  #shadow {
    position: absolute;
    right: 15%;
  }

  .wrap {
    @extend .container;
    z-index: 9999;

    .text-wrap {
      width: 100%;
      max-width: 800px;
      padding: 0 35px;
      box-sizing: border-box;

      h2 {
        color: $white;
        margin-top: 0px;
        font-weight: 600;
      }

      p {
        color: $ghoust_white;
        font-family: $secondFam;
        font-weight: 400;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {

  .shadow {
    height: 700px;

    .wrap {

      .text-wrap {
        width: 70%;
      }
    }
  }
}

@media only screen and (max-width: 960px) {

  .shadow {



    img {
      height: 750px;
    }

  }
}

@media only screen and (max-width: 720px) {

  .shadow-mob {

    background: $black-bg;
    box-sizing: border-box;
    padding: 35px 50px 150px 50px;

    h2 {
      color: $white;
      text-align: center;
      font-size: $font * 0.56;    
      line-height: $font * 0.76;
    }

    p {
      color: $white;
      text-align: center;
    }

  }
}

@media only screen and (max-width: 360px) {

  .shadow-mob {

    padding: 35px 35px 80px 35px;

    h2 {
      
      font-size: $font * 0.4;    
      line-height: $font * 0.5;
    }

 

  }
}
