.strategies {
  @extend .container;
  @extend .grid;
  height: 900px;
  padding: 0 35px;

  .text-wrap {
    grid-column: 1 / span 6;
    @extend .flex-start;
    align-items: center;

    .wrap {
      @extend .flex-start;
      align-items: center;
      height: 100%;
      max-height: 600px;

      h2 {
        color: $black;
        font-weight: 600;

        span {
          color: $main_color;
        }
      }

      p {
        color: $grey;
        font-weight: 400;
      }

      .link-wrap {
        @extend .flex-between;
        width: 100%;
        height: 100px;
        align-items: center;
        max-width: 300px;
        cursor: pointer;
        border-top: 1px solid $main_color;

        p {
          font-size: $font * 0.14;
          letter-spacing: 2px;
          line-height: $font * 0.16;
          color: $main_color;
          font-weight: 600;
          text-align: right;
        }

        img {
          transform: translateX(-10px);
          transition: 0.4s;
        }

        &:hover img {
          transform: translateX(0);
        }
      }

    }
  }

  .video-wrap {
    grid-column: span 6;
    @extend .flex-center;
    align-items: center;

    .wrap {
      @extend .flex-center;
      background-image: url('~assets/img/services-8.jpg');
      background-size: cover;
      align-items: center;
      height: auto;
      max-height: 1000px;

      img {
        width: 100%;
        height: 100%;
      }
    }


  }

}


@media only screen and (max-width: 1440px) {


  .strategies {

    .text-wrap {}

    .video-wrap {
      grid-column: 7 / -1;

      .wrap {
        width: 100%;
      }

    }

  }
}

@media only screen and (max-width: 1124px) {
  .strategies {
    .text-wrap {
      padding: 0 0 0 30px;

      h2 {
        font-size: 40px;
        line-height: 58px;
      }

      p {
        line-height: 30px;
      }
    }
  }
}

@media only screen and (max-width: 960px) {


  .strategies {
    height: 600px;

    .text-wrap {
      h2 {
        font-size: 30px;
        line-height: 44px;
      }
    }

  }
}

@media only screen and (max-width: 768px) {


  .strategies {
    padding: 50px 0;
    column-gap: 9%;

    .text-wrap {
      grid-column: span 7;

      .wrap {

        h2 {
          font-size: 26px;
          line-height: 40px;
        }

        p {
          line-height: 28px;
        }

        .link-wrap {
          height: 65px;
          box-shadow: 5px 5px 20px #ccc;
          border: none;
          border-top: none;
          outline: none;
          box-sizing: border-box;
          padding: 5px 30px;
          margin-top: 15px;
        }
      }
    }

    .video-wrap {
      grid-column: span 5;

      wrap {
        height: auto;

        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .strategies {
    padding: 50px 0;
    column-gap: unset;
    height: auto;

    .text-wrap {
      grid-column: span 7;

      .wrap {

        h2 {
          font-size: 26px;
          line-height: 40px;
        }

        p {
          line-height: 28px;
        }

        .link-wrap {
          height: 65px;
          box-shadow: 5px 5px 20px #ccc;
          border: none;
          border-top: none;
          outline: none;
          box-sizing: border-box;
          padding: 5px 10px;
          margin-top: 15px;
        }
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .strategies {
    margin-bottom: 100px;
  }
}
