body {
  overflow: hidden;
  animation: overflow 0.1s ease forwards 5s;

}

.loading-page {
 
}

.svg {
  width: 100%;
  height: 100vh;
  background: $black;
  position: fixed;
  top: 0;
  z-index: 9999;
  animation: opacity-anim 1s ease forwards 5s;


  #logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    path:nth-child(2) {
      stroke-dasharray: 449px;
      stroke-dashoffset: 449px;
      animation: line-anim 2s ease forwards 1s;

    }

    path:nth-child(3) {
      stroke-dasharray: 457px;
      stroke-dashoffset: 457px;
      animation: line-anim 2s ease forwards 1.3s;
    }

    path:nth-child(4) {
      stroke-dasharray: 518px;
      stroke-dashoffset: 518px;
      animation: line-anim 2s ease forwards 1.6s;
    }

    path:nth-child(5) {
      stroke-dasharray: 518px;
      stroke-dashoffset: 518px;
      animation: line-anim 2s ease forwards 1.9s;
    }

    path:nth-child(6) {
      stroke-dasharray: 457px;
      stroke-dashoffset: 457px;
      animation: line-anim 2s ease forwards 2.2s;
    }

    path:nth-child(7) {
      stroke-dasharray: 606px;
      stroke-dashoffset: 606px;
      animation: line-anim 2s ease forwards 2.5s;
    }

    path:nth-child(8) {
      stroke-dasharray: 536px;
      stroke-dashoffset: 536px;
      animation: line-anim 2s ease forwards 2.8s;
    }

    path:nth-child(9) {
      stroke-dasharray: 508px;
      stroke-dashoffset: 508px;
      animation: line-anim 2s ease forwards 3.1s;

    }

  }
}




@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes opacity-anim {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes overflow {

  to {
    overflow: auto;
  }
}
