.video-section {
  background: $black-bg;
  @extend .container-full;
  @extend .flex-center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 35px;


  .video-wrap {
    @extend .container;
    @extend .flex-between;
    align-items: center;
    height: 90%;
    transition: 0.4s;
    margin-top: 70px;


    .video-player-box {
      width: 33%;
      max-width: 451px;
      height: 307px;
      transition: 0.4s;


      .vjs_video_3-dimensions {
        width: 100%;
        height: 100%;
        position: relative;
        transition: 0.4s;

        .vjs-big-play-button {
          width: 100px;
          height: 100px;
          border-radius: 50px;
          background-color: $main_color;
          border: none;
          position: absolute;
          top: -50px;
          left: 400px;

          .vjs-icon-placeholder {
            &:before {
              content: "\f101";
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 55px;
            }
          }
        }
      }
    }

    .player-full {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      height: 500px;
    }

    .text-wrap {
      width: 60%;
      @extend .flex-start;
      align-items: center;
      transition: 0.4s;


      .wrap {
        @extend .flex-start;
        align-items: center;
        height: 100%;


        h2 {
          color: $white;
          font-weight: 600;


          span {
            color: $main_color;
          }
        }

        p {
          color: $white;
          font-weight: 400;
        }

        .link-wrap {
          @extend .flex-between;
          width: 100%;
          height: 100px;
          align-items: center;
          max-width: 300px;
          margin-top: 45px;
          cursor: pointer;
          border-top: 1px solid $main_color;

          p {
            font-size: $font * 0.14;
            letter-spacing: 2px;
            line-height: $font * 0.16;
            color: $main_color;
            font-weight: 600;
            text-align: right;
          }

          img {
            transform: translateX(-10px);
            transition: 0.4s;
          }

          &:hover img {
            transform: translateX(0);
          }
        }

      }
    }

  }
}

@media only screen and (max-width: 1400px) {
  .video-section {
    .video-wrap {

      .video-player-box {

        .vjs_video_3-dimensions {


          .vjs-big-play-button {
            width: 70px;
            height: 70px;
            top: -25px;
            left: 92%;

            .vjs-icon-placeholder {}
          }
        }
      }

    }
  }
}

@media only screen and (max-width: 960px) {
  .video-section {
    background: $white;
    justify-content: center;
    padding: 70px 35px 200px 35px;

    .video-wrap {

      .video-player-box {
        width: 50%;
        margin: 0 auto;

        .vjs_video_3-dimensions {


          .vjs-big-play-button {

            .vjs-icon-placeholder {}
          }
        }
      }

      .text-wrap {
        width: 100%;
        text-align: center;
        color: $black;
        margin-top: 50px;

        .wrap {


          h2 {
            max-width: 620px;
            margin: 30px auto 70px auto;
            color: $black;
          }

          p {
            color: $black;
          }

          .link-wrap {
            margin: 40px auto;
            height: auto;
            box-shadow: 5px 5px 20px #ccc;
            border: none;
            outline: none;
            box-sizing: border-box;
            padding: 5px 30px;

            p {
              color: $main_color;
            }

            img {}


          }

        }
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .video-section {

    .video-wrap {

      .video-player-box {
        width: 100%;
        max-width: 500px;

        .vjs_video_3-dimensions {


          .vjs-big-play-button {

            .vjs-icon-placeholder {}
          }
        }
      }

      .text-wrap {


        .wrap {


          h2 {
            max-width: 500px;

          }

          p {
            color: $black;
          }

          .link-wrap {

            p {}

            img {}


          }

        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .video-section {
    padding: 50px 35px 75px 35px;

    .video-wrap {

      .video-player-box {
        width: 100%;
        max-width: 500px;

        .vjs_video_3-dimensions {


          .vjs-big-play-button {
            left: 87%;

            .vjs-icon-placeholder {}
          }
        }
      }

      .player-full {

        max-height: 300px;
      }

      .text-wrap {


        .wrap {


          h2 {
            max-width: 500px;
            margin: 30px auto 30px auto;
          }

          p {
            color: $black;
          }

          .link-wrap {

            p {}

            img {}


          }

        }
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .video-section {
    padding: 40px 35px 65px 35px;

    .video-wrap {

      .video-player-box {
            height: 220px;

        .vjs_video_3-dimensions {


          .vjs-big-play-button {
            left: 87%;

            .vjs-icon-placeholder {}
          }
        }
      }

      .player-full {

        max-height: 220px;
      }
     
    }
  }
}
