@media only screen and (max-width: 360px) {
  .form-section {

    padding: 65px 0px;

    .wrap {
      .text-wrap {
        h2 {
          font-size: $font * 0.35;
          line-height: $font * 0.4;

        }

      }
    }
  }

  .footer {

    .wrap {
      padding: 0px;

      .grid {

        box-sizing: border-box;
        padding: 0 25px;

        .col {
          align-items: center;
          p,li{
            text-align: center;
          }
          
          
        }

        #col-1 {
          grid-column: span 12;


        }

        #col-2,
        #col-3,
        #col-5 {
          grid-column: span 12;

        }

        #col-4 {
          grid-row: 2;
          grid-column: 1/ span 6;
          .input{
            padding: 0px 8px;
          }

        }

        .social-wrap {
          grid-column: 1 / span 10;

        }

      }
    }
  }



}
