    @media only screen and (max-width: 420px) {
      .header {
        height: 600px;


        .wrap {
          margin-top: -75px;

          .text-wrap {
            h1 {
              font-size: $font * 0.55;
              line-height: $font * 0.65;
            }

            p {
              line-height: $font * 0.25;
            }
          }

          .header-box {
            left: 50%;
            -webkit-transform: translateY(50%);
            transform: translate(-50%, 50%);


          }
        }

      }

      .scroll-section {
        .video-section {

          .video-wrap {

            .text-wrap {

              .wrap {

                p {
                  font-size: $font * 0.16;
                  line-height: $font * 0.20;
                }

              }
            }

          }
        }
      }

      .why-container {
        padding: 200px 0px 70px;

        .wrap {

          .text-wrap {


            p {
              font-size: $font * 0.16;
              line-height: $font * 0.2;
            }

            .text-box {
              p {
                font-size: $font * 0.65;
                letter-spacing: 3px;
                line-height: $font * 0.85;

              }

              .normal,
              span {
                font-size: $font * 0.4;
                line-height: $font * 0.65;

              }

            }
          }

          .hover-wrap {
            padding: 0 30px;
            margin: 40px auto 0px;


            .single {
              font-size: $font * 0.16;
              line-height: $font * 0.2;

              span {}


            }

            p {
              font-size: $font * 0.16;
              line-height: $font * 0.2;
            }
          }
        }
      }

      .shadow {

        height: 500px;

        .wrap {


          .text-wrap {


            h2 {
              font-size: $font * 0.35;
              line-height: $font * 0.45;
            }

            p {
              font-size: $font * 0.16;
              line-height: $font * 0.20;

            }
          }
        }
      }



    }
