@media only screen and (max-width: 480px) {
  .header {
    height: 580px;

    .nav {
      padding-bottom: 0px;
    }

    .wrap {
      margin-top: -75px;

      .text-wrap {
        h1 {
          font-size: $font * 0.5;
          line-height: $font * 0.6;
          margin-bottom: 15px;
        }

        p {
          line-height: $font * 0.28;
        }
      }

    }

  }

  .scroll-section {
    .video-section {


      .video-wrap {


        .video-player-box {
          height: 240px;

          .vjs_video_3-dimensions {
            height: 240px;

            .vjs-big-play-button {
              width: 60px;
              height: 60px;
              top: -25px;
            }
          }
        }



        .text-wrap {


          .wrap {

            padding: 0 30px;

            h2 {
              font-size: $font * 0.4;
              line-height: $font * 0.5;

            }

            p {
              font-size: $font * 0.18;
              line-height: $font * 0.24;
            }

            .link-wrap {
              max-width: 280px;
              margin-top: 35px;
              height: 90px;


              p {
                font-size: $font * 0.14;

              }

              img {
                width: 30px;
                height: auto;
              }


            }


          }
        }

      }
    }
  }

  .form-section {

    padding: 90px 0px;

    .wrap {
      width: 100%;
      margin: 0 auto 0 0;

      .text-wrap {

        padding: 0 30px;

        h2 {
          font-size: $font * 0.40;
          line-height: $font * 0.50;

        }

      }
    }
  }


  .footer {

    .wrap {

      .grid {
        grid-column-gap: 30px;

        .col {
          grid-column: span 6;
        }

        #col-1 {

          padding-right: 20px;

        }

        #col-2,
        #col-3 {
          grid-column: span 6;

        }

        #col-5 {
          grid-column: span 12;

        }


      }
    }
  }





}
