@media only screen and (max-width: 620px) {
  .header {
    height: 580px;

    .nav {
      padding-bottom: 0px;
    }

    .wrap {
      margin-top: -60px;

      .text-wrap {
        h1 {
          font-size: $font * 0.6;
          line-height: $font * 0.75;
          margin-bottom: 15px;
        }

        p {
          font-size: $font * 0.18;
          line-height: $font * 0.30;
        }
      }

      .header-box {
        width: 300px;

        .wrap {
         

          h2 {
            font-size: $font * 0.25;
            margin-bottom: 30px;
          }
          p{
            font-size: $font * 0.16;
          }
          img{
            height: 15px;
          }
        }
      }
    }

  }
}
