@media only screen and (max-width: 960px) {
  .header {
    height: 580px;

    .nav {
      padding-bottom: 0px;
    }

    .wrap {
      margin-top: -60px;

      .text-wrap {
        h1 {
          font-size: $font * 0.7;
          line-height: $font * 0.8;
          margin-bottom: 15px;
        }

        p {
          font-size: $font * 0.18;
          line-height: $font * 0.30;
        }
      }

      .header-box {
        height: 230px;

        h2 {
          font-size: $font * 0.30;
          margin-bottom: 15px;
        }
      }
    }

  }

  .services {

    .grid {
      grid-template-rows: 40px auto 20px;
      grid-column-gap: 30px;


      .link-wrap {
        grid-column: 1 / span 4;
        padding: 0px 35px;
        height: 280px;

        div {
          font-size: $font * 0.18;
          margin-right: 25px;

        }
      }


      .text-area {
        height: 400px;

        .head {
          padding: 30px 0px 0px 30px;

          h3 {
            font-size: $font * 0.27;
          }

          span {
            font-size: $font * 0.27;

          }
        }

        .body {

          p {
            font-size: $font * 0.14;
            line-height: $font * 0.25;
          }
        }

      }

    }
  }

  .strategies {
    height: 600px;

    .text-wrap {
      padding: 0 30px;

      .wrap {


        h2 {
          font-size: $font * 0.45;
          line-height: $font * 0.5;
          margin: 0px;
        }

        p {
          font-size: $font *0.18;
          line-height: $font * 0.24;
        }


      }
    }


  }

  .scroll-section {


    .video-section {


      .video-wrap {

        height: 100%;
        margin-top: 70px;
        flex-direction: column-reverse;


        .video-player-box {
          width: 100%;
          max-width: 700px;
          padding: 40px;
          height: 307px;


          .vjs_video_3-dimensions {
            max-width: 90%;


            .vjs-big-play-button {
              width: 80px;
              height: 80px;
              top: -35px;
              left: 580px;

            }
          }
        }

        .player-full {
          max-width: 90%;
          margin: 0 auto;
          height: 400px;
        }

        .text-wrap {
          width: 100%;

        }

      }
    }
  }


  .why-container {
    padding: 200px 0px;


  }

  .shadow {

    height: 500px;

    img {
      height: 750px;
    }

    .wrap {


      .text-wrap {


        h2 {
          font-size: $font * 0.4;
          line-height: $font * 0.5;
        }

        p {
          font-size: $font * 0.2;
          line-height: $font * 0.28;

        }
      }
    }
  }


  .footer {

    .wrap {

      .grid {
           grid-column-gap: 60px;     

        .col {
          grid-column: span 6;
          justify-content: flex-start;

          .wrap{
            padding: 0;
            margin: 0;
          }
        
       }
       #col-1{
            padding-right: 60px;
       }
        #col-2,
        #col-3,
        #col-5 {
          grid-column: span 4;
          
        }
        #col-4 {
          grid-row: 1;
          grid-column: 7/ span 6;
          
        }

        #col-5 {        

          h4 {
            margin-top: 25px;
          }
        
        }
       
      }
    }
  }




}
